<!-- <p>
  search-form works!
</p> -->
<!-- <div class="container-fluid">
  <div class="row">
      <form >
          <div class="form-group">

              <label for="search"></label>
              <! <input class="input-field" type="text" placeholder="Username" [(ngModel)]="userName">
              <button (click)="submitInput()">Search</button> -->
              <!-- <input type="text" required class="form-control" id="search">
              <button type="submit" class="fa fa-search" ></button> -->
          <!-- </div> -->

          <!-- <div class="form-group">

              <label for="description">Description</label>
              <textarea class="form-control" id="description" rows="4" required></textarea>
              
          </div>
          <div class="form-group">
              <label for="submit">Submit</label>
              <input type='text' id="submit" required>
              
          </div> -->
      <!-- </form>
  </div>
</div> --> 
