<!-- <p>
  search works!
</p> -->

<div class="container">
    <div class="row">  
        <blockquote class="text-center text-lg"> 
       
        <footer><cite>
                     <p>name:{{user.name}}</p>
                     <img src="{{user.avatar_url}}">
                     <p>location:{{user.location}} </p>
                     <p>followers:{{user.followers}}</p>
                     <p>following:{{user.following}}</p>
                     <p>repos:{{user.public_repos}}</p>

                    </cite>
                </footer>
        </blockquote> 
    </div>



  
          
       