

<input class="input-field" type="text" placeholder="Username" [(ngModel)]="userName">
    <button (click)="submitInput()"class="fa fa-search" ></button>
  
<div class="container">
        <!-- <ul>
                <div *ngFor='let user of users'>
                    <li appStrikethrough>{{user.name}}</li>
                    <button  (click)='toogleDetails()'>Toogle Details</button>
                    <app-user-details *ngIf="user.showDescription" [user]='user' (isComplete)= 'completeUser($event,i)'></app-user-details>
                </div>
                </ul> -->
    <div class="row">  
        <blockquote class="text-center text-lg"> 
       
        <footer><cite>
                     <p>name:{{user.name}}</p>
                     <img src="{{user.avatar_url}}">
                     <p>location:{{user.location}} </p>
                     <p>followers:{{user.followers}}</p>
                     <p>following:{{user.following}}</p>
                     <p>repos:{{user.public_repos}}</p>

                    </cite>
                </footer>
        </blockquote> 
    </div>



  
          
       